<h1>Coffee Creator!</h1>
<h2> Create a coffee... Then drink It!</h2>
<div id="img-holder">
	<img src="/assets/img/coffee.png">
	<img src="/assets/img/coffee1.png">
	<img src="/assets/img/coffee2.png">
</div>
<form class="add-coffee">
	<div class= "form-group">
		<input type="text" id="co" name="name">
	</div>
	<button type="submit" id="submit"><i class="fas fa-coffee"></i> Add coffee!</button>
</form>
<div class="ready">
	<h3 id="readytitle">ORDER UP!</h3>
	<ul>
		{{> coffee/coffee-block}}
	</ul>
</div>
<div class="gone">
	<h3 id="gonetitle">EMPTIES!</h3>
	<ul>
		{{> coffee/coffee-block-drank}}
</div>